{% extends 'main/layout.html' %}
{% load static %}

{% block title %}О нас{% endblock %}
{% block main_style %}
background: url('{% static 'main/img/photo.jpg' %}') no-repeat center / cover;
{% endblock %}

{% block content %}
<h1 style="display: flex; justify-content: center; align-items: center; color: white; text-align: center;padding-top: 20px;">О проекте Купонатор</h1>
<br>
<p style="color: white; text-align: center; font-weight: 600;">На Купонаторе представлены скидки от более 10.000 компаний, предоставляющих услуги в любой сфере: салоны красоты, развлечения, культурный отдых, путешествия, услуги для автомобилистов, обучение и т.д.
В среднем размер скидки составляет 50%. Покупая купон, вы экономите деньги, а также открываете для себя новые возможности для отдыха, развития, обучения, приятного времяпровождения.
Наш сервис дарит своим пользователям возможность не отказывать себе ни в чем благодаря скидкам.
Нужна автомойка поблизости по приятной цене? Приходится просматривать десятки сайтов или же остановиться на одном. Вместо этого, предлагаем ознакомиться с доступными скидочными предложениями, собранными в одном месте - на Купонаторе.
Купонатор поможет не обыскивать по отдельности каждый купонный сайт, такой как Биглион или КупиКупон, здесь можно сразу отсортировать предложения по своим предпочтениям и найти скидки всех купонных сайтов.
Партнеры предоставляют Купонатору акции для размещения, а наша команда обрабатывает, сортирует и выводит акции в удобном формате. Отфильтровать купоны можно по местоположению, по конкретной услуге или товару, а можно просто выбрать любимый купонный сайт и посмотреть только его купоны - все зависит от вас. Приобретая купон, вы не только экономите деньги, но и открываете для себя новые возможности из сферы услуг и улучшаете качество своей жизни!</p>
{% endblock %}