{% extends "main/layout.html" %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block main_style %}
background: url('{% static 'main/img/bg.jpg' %}') no-repeat center / cover;
{% endblock %}

{% block content %}
    <div class="index_text" style="color: white; text-align: center; padding-top: 230px;">
        <h2>Купонатор - это сайт, собравший в себе множество купонов для магазинов Курска. <br><div class="btn btn-dark" style="font-size: 25px;font-weight: 600; margin-top: 25px;"><a class="nav-link" href="#">Перейти в каталог</a></div></h2>

    </div>
{% endblock %}